body {
    background: linear-gradient(to right, rgb(28, 146, 210), rgb(242, 252, 254));
}


textarea{
    border: 5px black solid
}

progress {
    width: 300px;
    padding: 20px;
}

input#filebutton {
    border: none;
}
